# > 12306
# hostname = ad.12306.cn
#^https?:\/\/ad\.12306\.cn\/ad\/ser\/getAdList url script-analyze-echo-response https://raw.githubusercontent.com/kokoryh/Script/master/js/12306.js
^https?:\/\/ad\.12306\.cn\/ad\/ser\/getAdList url script-analyze-echo-response https://raw.githubusercontent.com/kelv1n1n/script/main/js/12306.js


[MITM]
hostname = ad.12306.cn
