#!author = RuCu6  https://github.com/RuCu6/QuanX/blob/main/Rewrites/MyBlockAds.conf

^https:\/\/ad\.12306\.cn\/ad\/ser\/getAdList$ url script-analyze-echo-response https://github.com/kelv1n1n/script/raw/refs/heads/main/js/12306.js
^https:\/\/mobile\.12306\.cn\/otsmobile\/app\/mgs\/mgw\.htm$ url script-response-header https://github.com/kelv1n1n/script/raw/refs/heads/main/js/header.js

hostname = ad.12306.cn, mobile.12306.cn
