^https?:\/\/appapi\.51job\.com\/api\/market\/(adtrace|get_launch|get_prompt) url reject

^https?:\/\/cupid\.51job\.com\/open\/noauth\/recommend\/job-tab-dynamic url script-response-body https://raw.githubusercontent.com/zirawell/app_remove_ads/main/All/js/51job.js

^https?:\/\/cupid\.51job\.com\/open\/index\/recommend-infos url reject

[MITM]
hostname = cupid.51job.com,appapi.51job.com
