#! name = bigo
#! author = Kelv1n1n

^http:\/\/hotroom\.live\.bigo\.sg\/homepage url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/bigo.js

hostname = bigo.sg, 164.90.98.97, 202.63.37.153, 202.168.105.219, 164.90.117.67, 164.90.114.1, 169.136.79.34
