#!name = 中国移动
#!desc = 去除开屏广告
#!author = Kelv1n1n
# hostname = client.app.coc.10086.cn, h.client.app.coc.10086.cn

^https?:\/\/client\.app\.coc\.10086\.cn\/biz-orange\/DN\/init\/startInit url reject-200
^https?:\/\/client\.app\.coc\.10086\.cn\/biz-orange\/DN\/explorePage\/getAdverList url reject
# 多个悬浮窗
^https:\/\/(client\.app\.coc|h\.app\.coc|app)\.10086\.cn\/biz-orange\/DN\/emotionMarket url reject

hostname = client.app.coc.10086.cn, h.client.app.coc.10086.cn
