#! name = 个性化
#! author = Kelv1n1n

# 滴滴首页图标
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v\d\/core url script-response-body https://github.com/kelv1n1n/script/raw/main/js/common.js
# 闲鱼个人主页底部图标
^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.idle\.user\.page\.my\.adapter\/ url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/goodfish.js
