#!name = 南航E家
#!author = kelv1n1n

^https:\/\/ehm\.csair\.com\/ehome-information-app\/startupApp\/getAdPage url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/ehome.js

[MITM]
hostname = ehm.csair.com
