#!name = 稿定
#!author = ctrl

^https:\/\/qiye\.gaoding\.com\/api\/(structure\/company\/current|ccm\/editors\/risk_materials) url script-response-body https://raw.githubusercontent.com/ctrl98/script/main/js/gaoding.js

[MITM]
hostname = qiye.gaoding.com
