#! 虎扑去广告

^https:\/\/games\.mobileapi\.hupu\.com\/.+?\/bplapi\/device\/v1\/init url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/hp.js
^https:\/\/bbs\.mobileapi\.hupu\.com\/.+?\/topics url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/hp.js
^https:\/\/games\.mobileapi\.hupu\.com\/\d\/\d\.\d\.\d+\/basketballapi\/news\/v3\/tab url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/hp.js
#热搜榜过滤
^https:\/\/games\.mobileapi\.hupu\.com\/\d\/\d\.\d\.\d+\/hotRank url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/hp.js

[MITM]
hostname = *.hupu.com
