#!name=keep
#!desc=
# hostname = 
#!author = kelv1n1n

# 开屏广告
^https:\/\/api\.gotokeep\.com\/config\/v3\/basic url script-response-body https://github.com/kelv1n1n/script/raw/main/js/keep.js
^https:\/\/kad\.gotokeep\.com\/op-engine-webapp\/v1\/ad url script-response-body https://github.com/kelv1n1n/script/raw/main/js/keep.js
^https:\/\/api\.gotokeep\.com\/op-engine-webapp\/tool\/v1\/jump\/popup url script-response-body https://github.com/kelv1n1n/script/raw/main/js/keep.js
#^https:\/\/api\.gotokeep\.com\/op-monitor-webapp\/dspRequest url reject-dict

[MITM]
hostname = api.gotokeep.com, kad.gotokeep.com, 49.233.161.131,114.117.131.124,162.14.5.234,42.187.199.24
