# > 拼多多 https://github.com/fmz200/wool_scripts/blob/main/QuantumultX/rewrite/chongxie.txt
# hostname = api.pinduoduo.com, api.yangkeduo.com, mobile.yangkeduo.com
^https?:\/\/api\.(pinduoduo|yangkeduo)\.com\/api\/cappuccino\/splash url reject

hostname = api.pinduoduo.com, api.yangkeduo.com, mobile.yangkeduo.com
