#!name = 朴朴超市
#!author = kelv1n1n
#!desc = 去开屏、首页顶部轮播图和图标广告、首页右下角悬浮动画、我的页面简化、启动小弹图广告、搜索热搜榜、搜索建议词、搜索发现热词

^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/v7 url script-response-body https://github.com/kelv1n1n/script/raw/main/js/pp.js
//^http:\/\/54\.222\.159\.138:8053\/^httpdns\/resolve url script-response-body https://github.com/kelv1n1n/script/raw/main/js/pp.js
//^http:\/\/54\.222\.159\.138:8053\/^httpdns\/resolve\? url reject-200
^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/search_component_banner url script-response-body https://github.com/kelv1n1n/script/raw/main/js/pp.js
^https:\/\/j1\.pupuapi\.com\/client\/search\/hot_keywords\/v3 url script-response-body https://github.com/kelv1n1n/script/raw/main/js/pp.js

[MITM]
hostname = j1.pupuapi.com,140.179.224.63
