#!name = 朴朴超市
#!author = ctrl

^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/v7 url script-response-body https://github.com/kelv1n1n/script/raw/main/js/pp.js

[MITM]
hostname = j1.pupuapi.com
