#!name = 朴朴超市
#!author = ctrl

^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/v7 url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/PupuSplashAds.js

[MITM]
hostname = j1.pupuapi.com
