#!name = soul解锁私聊, 星球页简化, 派对页面简化
#!author = kelv1n1n

# 去除私聊限制
^https:\/\/api-chat\.soulapp\.cn\/chat\/limitInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面按钮
^https:\/\/api-user\.soulapp\.cn\/v6\/planet\/config url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面派对顶部派对分类tab
^https:\/\/chat-live\.soulapp\.cn\/live\/planet\/recListV2 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 广场顶部tab
^https:\/\/post\.soulapp\.cn\/v2\/post\/recSquare\/subTabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

#^https:\/\/api-a\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对顶部榜单
^https:\/\/api-a\.soulapp\.cn\/chatroom\/calculateSoulList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对页面tab
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/getRoomTagInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对列表中间横幅官方广告
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除聊天界面再遇见
^https:\/\/api-chat\.soulapp\.cn\/chat\/entrance\/first url reject
# 默认关闭星球用户列表（下拉可恢复）
#^https:\/\/api-user\.soulapp\.cn\/planet\/users url reject
# 新用户设置展示怀旧头像入口（自慰，好像有服务器检验）
^https:\/\/api-user\.soulapp\.cn\/user\/ext\/info url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

^https:\/\/api-chat\.soulapp\.cn\/chat\/bubbling\/queryMyBubbling url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

[MITM]
hostname = api-chat.soulapp.cn,api-user.soulapp.cn,chat-live.soulapp.cn,post.soulapp.cn,api-a.soulapp.cn
