#!name = Soul去广告
#!author = 怎么肥事  @可莉  Kelv1n1n
#!update = 2024-07-01 9:30

^https:\/\/ssp\.soulapp\.cn\/api\/q url reject-dict
^https:\/\/47\.110\.187\.87\/winterfell\/(?:v2\/)?getIpByDomain url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
^https:\/\/media-service\.soulapp\.cn\/api\/app\/cdnSource url reject
^https:\/\/ad-h5-station-cdn\.soulapp\.cn\/station\/dist\.zip url reject

# 去除热搜榜
^https:\/\/post\.soulapp\.cn\/hot\/soul\/rank url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 主页瞬间指导
^https:\/\/post\.soulapp\.cn\/v\d\/post\/homepage\/guide\/card url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 去除青少年弹窗
^https:\/\/api-account\.soulapp\.cn\/teenager\/config url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 谁看过我横幅广告
^https:\/\/api-a\.soulapp\.cn\/official\/scene\/module url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 版本信息
^https:\/\/gateway-mobile-gray\.soulapp\.cn\/mobile\/app\/version\/queryIos url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 主页右下角悬浮广告
^https:\/\/api-user\.soulapp\.cn\/furion\/position\/content url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js
# 去除瞬间礼物榜
^https:\/\/api-a\.soulapp\.cn\/v2\/post\/gift\/list url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Soul.js


# 去除私聊限制
^https:\/\/api-chat\.soulapp\.cn\/chat\/limitInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面按钮
^https:\/\/api-user\.soulapp\.cn\/v6\/planet\/config url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面派对顶部派对分类tab
^https:\/\/chat-live\.soulapp\.cn\/live\/planet\/recListV2 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 广场顶部tab
^https:\/\/post\.soulapp\.cn\/v2\/post\/recSquare\/subTabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对顶部榜单
^https:\/\/api-a\.soulapp\.cn\/chatroom\/calculateSoulList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对页面tab
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/getRoomTagInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对列表中间横幅官方广告
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除聊天界面再遇见
^https:\/\/api-chat\.soulapp\.cn\/chat\/entrance\/first url reject
# 去除通讯录右下角机器人图标
^https:\/\/api-chat\.soulapp\.cn\/addressBook\/showBubblingEnter url reject
# 去除首次私聊打开去除顶部聊天信息卡片
^https:\/\/api-user\.soulapp\.cn\/user\/matchRelation\/getChatCard url reject
# 去除表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/interact\/getEmojiList url reject
# 去除我的页面soul币活动推荐
^https:\/\/increase-openapi\.soulapp\.cn\/increase\/fission\/getHomePageRedIcon url reject
# 去除首次私聊打开星球交汇小卡片
^https:\/\/api-chat\.soulapp\.cn\/similar\/post\/intersect\/trigger url reject
# 去除首次打开私聊界面底部瞬间表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/guide\/defaultWord url reject
# 去除聊天输入文字时的gif表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/emoji\/recommend url reject
# 广场顶部tab
^https:\/\/api-a\.soulapp\.cn\/square\/header\/tabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
^https:\/\/post\.soulapp\.cn\/v3\/rec\/square\/header\/tabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除广告配置
^https:\/\/ssp\.soulapp\.cn\/api\/ad\/config url reject
# 去除私聊瞬间小横幅
^https:\/\/api-a\.soulapp\.cn\/shara\/app\/url url reject
# 私聊快捷菜单
^https:\/\/api-chat\.soulapp\.cn\/chat\/quick\/menu url reject
# 个人主页数量提示
^https:\/\/api-user\.soulapp\.cn\/user\/homepage\/metrics url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

hostname = *.soulapp.cn,47.110.187.87
