#!name = soul解锁私聊, 星球页简化, 派对页面简化
#!author = kelv1n1n

^https:\/\/api-chat\.soulapp\.cn\/chat\/limitInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
^https:\/\/api-user\.soulapp\.cn\/v6\/planet\/config url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
^https:\/\/chat-live\.soulapp\.cn\/live\/planet\/recListV2 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
^https:\/\/post\.soulapp\.cn\/v2\/post\/recSquare\/subTabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

^https:\/\/api-a\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

^https:\/\/api-a\.soulapp\.cn\/chatroom\/calculateSoulList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

^https:\/\/chat-live\.soulapp\.cn\/chatroom\/getRoomTagInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js

^https:\/\/chat-live\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除聊天界面再遇见
^https:\/\/api-chat\.soulapp\.cn\/chat\/entrance\/first url reject
# 默认不匹配，状态今日自闭
^https:\/\/api-user\.soulapp\.cn\/user\/isMatch url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 默认关闭星球用户列表（下拉可恢复）
^https:\/\/api-user\.soulapp\.cn\/planet\/users url reject

[MITM]
hostname = api-chat.soulapp.cn,api-user.soulapp.cn,chat-live.soulapp.cn,post.soulapp.cn,api-a.soulapp.cn
