#!name = soul解锁私聊, 星球页简化, 派对页面简化
#!author = kelv1n1n
#! dns: ,47.99.42.29,47.97.215.55,116.62.47.28,120.27.235.201,120.55.65.167,120.55.55.115,47.96.20.45,47.98.54.106,47.96.11.46,47.98.137.249,120.55.62.124,116.62.247.96,112.124.17.9
#! 分流禁用：120.27.235.201 即可

# 去除私聊限制
^https:\/\/api-chat\.soulapp\.cn\/chat\/limitInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面按钮
^https:\/\/api-user\.soulapp\.cn\/v6\/planet\/config url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 星球页面派对顶部派对分类tab
^https:\/\/chat-live\.soulapp\.cn\/live\/planet\/recListV2 url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 广场顶部tab
^https:\/\/post\.soulapp\.cn\/v2\/post\/recSquare\/subTabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对顶部榜单
^https:\/\/api-a\.soulapp\.cn\/chatroom\/calculateSoulList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对页面tab
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/getRoomTagInfo url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 派对列表中间横幅官方广告
^https:\/\/chat-live\.soulapp\.cn\/chatroom\/chatClassifyRoomList url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除聊天界面再遇见
^https:\/\/api-chat\.soulapp\.cn\/chat\/entrance\/first url reject
# 默认关闭星球用户列表（下拉可恢复）
^https:\/\/api-user\.soulapp\.cn\/planet\/users url reject
# 新用户设置展示怀旧头像入口（自慰，好像有服务器检验）
^https:\/\/api-user\.soulapp\.cn\/user\/ext\/info url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 设置聊天状态为今日自闭，避免收到匹配聊天信息（意淫）
#^https:\/\/api-chat\.soulapp\.cn\/chat\/bubbling\/queryMyBubbling url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
#^https:\/\/api-user\.soulapp\.cn\/user\/isMatch url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 打开用户主页隐藏了的关注列表（意淫，数据为空）
#^https:\/\/api-user\.soulapp\.cn\/user\/homepage\/metrics url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除通讯录右下角机器人图标
^https:\/\/api-chat\.soulapp\.cn\/addressBook\/showBubblingEnter url reject
# 去除首次私聊打开去除顶部聊天信息卡片
^https:\/\/api-user\.soulapp\.cn\/user\/matchRelation\/getChatCard url reject
# 去除表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/interact\/getEmojiList url reject
# 去除我的页面soul币活动推荐
^https:\/\/increase-openapi\.soulapp\.cn\/increase\/fission\/getHomePageRedIcon url reject
# 去除首次私聊打开星球交汇小卡片
^https:\/\/api-chat\.soulapp\.cn\/similar\/post\/intersect\/trigger url reject
# 去除首次打开私聊界面底部瞬间表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/guide\/defaultWord url reject
# 去除聊天输入文字时的gif表情推荐
^https:\/\/api-chat\.soulapp\.cn\/chat\/emoji\/recommend url reject
# 广场顶部tab
^https:\/\/api-a\.soulapp\.cn\/square\/header\/tabs url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/soul.js
# 去除广告配置
^https:\/\/ssp\.soulapp\.cn\/api\/ad\/config url reject
# 去除私聊瞬间小横幅
^https:\/\/api-a\.soulapp\.cn\/shara\/app\/url url reject
# 去除派对头像卡片信息
#^https:\/\/chat-live\.soulapp\.cn\/live\/card\/other url reject-array
# 私聊快捷菜单
^https:\/\/api-chat\.soulapp\.cn\/chat\/quick\/menu url reject

[MITM]
hostname = api-chat.soulapp.cn,api-user.soulapp.cn,chat-live.soulapp.cn,post.soulapp.cn,api-a.soulapp.cn,increase-openapi.soulapp.cn
