# > tandem

^https:\/\/googleads\.g\.doubleclick-cn\.net\/mads\/gma url script-response-body https://raw.githubusercontent.com/kelv1n1n/script/main/js/tandem.js

^https:\/\/googleads\.g\.doubleclick-cn\.net\/getconfig\/pubsetting

[MITM]
hostname = googleads.g.doubleclick-cn.net
