# by 可莉

# 广告下发
^https:\/\/portal-portm\.meituan\.com\/horn_ios\/mergeRequest reject-dict
# 开屏广告
^https:\/\/mall\.meituan\.com\/api\/c\/homepage\/splash reject-dict
# 首页领券悬浮红包
^https:\/\/mall\.meituan\.com\/api\/c\/homepage\/bubble\/operate\/info reject-dict

[MITM]
hostname = portal-portm.meituan.com, mall.meituan.com
