#! name = 自用分流合集
#! author = Kelv1n1n

# 滴滴
HOST-SUFFIX, gwp.xiaojukeji.com, REJECT
IP-CIDR, 116.85.1.22/32, REJECT
IP-CIDR, 116.85.1.17/32, REJECT
IP-CIDR, 116.85.1.0/32, REJECT
IP-CIDR, 116.85.3.37/32, REJECT
IP-CIDR, 117.51.168.10/32, REJECT
IP-CIDR, 117.51.169.4/32, REJECT
IP-CIDR, 117.51.169.11/32, REJECT
IP-CIDR, 123.207.209.39/32, REJECT
IP-CIDR, 123.207.209.60/32, REJECT
IP-CIDR, 139.199.240.12/32, REJECT
IP-CIDR, 139.199.240.15/32, REJECT
IP-CIDR, 162.14.157.2/32, REJECT
IP-CIDR, 162.14.157.24/32, REJECT

IP-CIDR,157.255.76.17/32,REJECT
IP-CIDR,157.255.76.19/32,REJECT
IP-CIDR,157.255.76.9/32,REJECT
IP-CIDR,157.255.76.12/32,REJECT
IP-CIDR,157.255.76.15/32,REJECT
IP-CIDR,157.255.76.8/32,REJECT

# 彩云天气
HOST, abyss.cyapi.cn, REJECT
HOST, ad.cyapi.cn, REJECT

# 虎扑
HOST, adx.hupu.com, REJECT
HOST, adx-api.hupu.com, REJECT
HOST, goblin.hupu.com, REJECT

# 闲鱼广告下发
user-agent, %E9%97%B2%E9%B1%BC*, reject

# 闲鱼
host-keyword, iyes.youku.com, reject

# wifi万能钥匙
#host-keyword, sf3-fe-tos.pglstatp-toutiao, reject
#host-keyword, mi.gdt.qq.com, reject
#host-keyword, pangolin-sdk-toutiao, reject
#host-keyword, tnc3-alisc1.zijieapi.com, reject
#host-keyword, lf-cdn-tos.bytescm.com, reject
#host, mobads.baidu.com, reject
#host-keyword, wkanx.com, reject

# 云闪付 开屏广告
HOST, ads.95516.com, REJECT
#HOST, switch.cup.com.cn, REJECT


# > 小红书
host, ads-img-qc.xhscdn.com, reject
host, ads-video-al.xhscdn.com, reject
host, ads-video-qc.xhscdn.com, reject
host, t-ads.xiaohongshu.com, reject
