# !name = APP通用分流

# 滴滴
host-suffix,gwp.xiaojukeji.com,reject
ip-cidr,123.207.209.60/32,reject
ip-cidr,123.207.209.39/32,reject
ip-cidr,139.199.240.12/32,reject
ip-cidr,139.199.240.15/32,reject

# 彩云天气
HOST,abyss.cyapi.cn,REJECT
HOST,ad.cyapi.cn,REJECT


# keep开屏
host,hc-ssp.sm.cn,reject
